## Ignore Visual Studio temporary files, builds, and toolings
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Ignore VS Code files
.vscode/

## Ignore user secrets and environment configuration
appsettings.Development.json

## Ignore compiled files and databases
*.db
*.db-shm
*.db-wal

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
